.experience {
  &__h2 {
    font-family: $font-3;
    font-size: 1.6rem;
    color: $color-primary7;
  }

  &__span {
    font-family: $font-3;
    font-size: 1.4rem;
    color: $color-primary8;
  }

  &__p {
    font-family: $font-3;
    font-size: 1.4rem;
    color: $color-primary8;
  }
}
