.skills {
  &__h3 {
    color: $color-primary6;
    font-family: $font-3;
    font-size: 2rem;
    font-weight: 700;
  }

  &__h4 {
    color: $color-primary9;
    font-family: $font-3;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
