$color-primary1: #f5f5f5;
$color-primary2: #ffffff;
$color-primary3: #35869a;
$color-primary4: #42a8c0;
$color-primary5: #2d7788;
$color-primary6: #545e6c;
$color-primary7: #3f4650;
$color-primary8: #97aac3;
$color-primary9: #a09e9e;
$color-primary10: #68bacd;
$color-primary11: #2d7788;
