.educations {
  &__h3 {
    font-family: $font-3;
    font-size: 1.4rem;
    color: $color-primary2;
  }

  &__p {
    font-family: $font-3;
    font-size: 1.4rem;
    color: $color-primary12;
  }

  &__link {
    font-family: $font-3;
    font-size: 1.4rem;
    color: $color-primary12;
    text-decoration: none;
  }
}
