.experience {
  padding: 3rem 0 0 0;

  &__job {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 3rem 0;
  }

  &__h2 {
  }

  &__span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20rem;
  }

  &__p {
    width: 100%;
    line-height: 1.7;
  }

  &__description {
    width: 100%;
    line-height: 1.7;
    margin-top: 1rem;
  }
}
